/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  background-color: #f0eff4;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  color: #333;
  font-size:12px;
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
}
.badge {
  background-color: transparent;
  color: #ccc;
  font-weight: normal;
}
.row {
  margin-left: 0px; 
  margin-right: 0px; 
}
.navbar {
  min-height: 0px; 
}
.col-md-8 {
  border-left: solid 1px #CCC;
}
.layout .col-md-4 {
  display: block;
  padding: 60px 0 0 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
}
.layout .col-md-8 {
  padding: 60px 0 0 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  overflow: auto;
}
.layout .col-md-8 {
  padding: 60px 0 0 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  overflow: auto;
}
.layout .list-group-item {
  border-width: 0;
  border-color: #e9eaeb;
  padding-left: 10%;
}
.layout .list-group-item:first-child {
  border-width: 1px 0 0 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.layout .list-group-item:last-child {
  border-width: 0 0 1px 0;
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.layout .col-md-4 .list-group-item::before {
  content: "";
  display: block;
  width: 90%; 
  height: 0px; 
  border: 1px solid #eeeeee; 
  position: absolute;
  bottom: 0px;
  left: 10%;
}
.layout .col-md-4 .list-group-item:last-child::before {
  border: 0px; 
}




@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}
